---
layout: default
---

hello

<p>
page.url: {{ page.url }}

<p>
page.title: {{ page.url }}

<p>
site.static_files:<br>
{% for url in site.static_files %}
<li><a href="{{ site.baseurl | escape }}{{ url.path | escape }}">{{ url.path | escape }}</a> - basename={{ url.basename }} - extname={{ url.extname }} - dir={{ url.dir }} </li>
{% endfor %}

<p>
site.collections<br>
{% for coll in site.collections %}
<li>{{ coll }}</li>
{% endfor %}

<p>
site.documents<br>
{% for doc in site.documents %}
<li>{{ doc }}</li>
{% endfor %}
