---
layout: default
---

<pre>
hello

<p>
page.url: {{ page.url }}

<p>
page.title: {{ page.url }}

{% assign subdirs = site.static_files | map: "path" | group_by_exp: "path", "path | split: '/' | pop | join: '/'" | map: "name" %}

subdirs: {{ subdirs | join ", " }}

<p>
{% for dir in subdirs %}
<li><a href="{{ site.baseurl | escape}}{{ dir | escape}}">{{ dir | escape}}</a></li>
{% endfor %}

<p>
site.static_files:<br>
{% for url in site.static_files %}
<li><a href="{{ site.baseurl | escape }}{{ url.path | escape }}">{{ url.path | escape }}</a> - basename={{ url.basename }} - extname={{ url.extname }} - dir={{ url.dir }} </li>
{% endfor %}
</pre>
